body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  width: 100%;
  padding: 20px;
  margin: 20px;
  background-color: #ffffff;
  border-radius: 8px;
}

.dt-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.dt-search > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 100px;
}

.options-menu {
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;
  transform: translateY(0);
}

.options-menu-hidden {
  opacity: 0;
  transform: translateY(-10px);
}
